{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <h1 class="mb-4 text-center">Costing Information</h1>
            
            <p class="lead text-center mb-5">
                Transparent and detailed information about service costs, as well as funding and rebate options.
            </p>

            <hr class="my-5">

            <p>You have several options for rebated sessions, or you can pay privately if you choose to access services without a referral and Care Plan in place.</p>

            <p>Under the <strong>Better Access Scheme</strong> with a <strong>Mental Health Treatment Plan through your GP</strong>, all counselling sessions attract a rebate from medicare. 
            <br />Medicare benefits are available for a maximum of 10 individual mental health sessions each calendar year. 
            <br />Patients can access more sessions if they wish,  but Medicare will not cover above this amount.</p>

            <p><strong>MBS telehealth services</strong> that were made available in response to the COVID-19 pandemic, are now permanent. 
            <br />This means that eligible people can access individual telehealth counselling services, no matter their location, where it is safe and clinically appropriate. 
            <br />These sessions attract the same rebate as face to face sessions.</p>

            <p>If you are seeking <strong>Case Management and Advocacy</strong> or <strong>Capacity or Life Planning</strong> you may be eligible for a rebate with a <strong>GP Chronic Disease Management Plan (GPMP) and Team Care Arrangement (TCA)</strong> in place. 
            <br />Please discuss this with your GP and obtain the appropriate arrangement and referral.</p>

            <p>If you have a <strong>Centrelink Health Care Card</strong> or a <strong>Pensioner Concession Card</strong>, and are in financial hardship, 
                you can talk to Sarah about other options.</p>

            <h2 class="mt-5 mb-3">Fees</h2>
            <table class="table table-striped table-hover" style="margin-bottom: 6rem;">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Cost / Rebate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Face to Face Counselling (50 minutes)</td>
                        <td>$170</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;<em>Rebate with Mental Health Treatment Plan</em></td>
                        <td>$85.20</td>
                    </tr>
                    <tr>
                        <td>Telehealth Counselling Session (50 minutes)</td>
                        <td>$170</td>
                    </tr>
                     <tr>
                        <td>&nbsp;&nbsp;&nbsp;<em>Rebate with Mental Health Treatment Plan</em></td>
                        <td>$85.20</td>
                    </tr>
                    <tr>
                        <td>Case Management and Advocacy (per hour)</td>
                        <td>$90</td>
                    </tr>
                     <tr>
                        <td>&nbsp;&nbsp;&nbsp;<em>Rebate under GPMP/TCA</em></td>
                        <td>$60.35</td>
                    </tr>
                    <tr>
                        <td>Capacity and Life Planning (includes documents)</td>
                        <td>$240</td>
                     </tr>
                     <tr>
                        <td>&nbsp;&nbsp;&nbsp;<em>Pre-assessment appointments (per hour)</em></td>
                        <td>$90</td>
                    </tr>
                     <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>Rebate under GPMP/TCA</em></td>
                        <td>$60.35</td>
                    </tr>
                     <tr>
                        <td>Report Writing (per report)</td>
                        <td>$240</td>
                    </tr>
                     <tr>
                        <td>&nbsp;&nbsp;&nbsp;<em>Pre-assessment appointments (per hour)</em></td>
                        <td>$90</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>Rebate under GPMP/TCA</em></td>
                        <td>$60.35</td>
                    </tr>
                    <tr>
                        <td>Representation at Case/Multidisciplinary Conferences (per hour)</td>
                        <td>$90 - $170</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;<em>Rebate under MBS (15-20 minutes)</em></td>
                        <td>$47.35</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;<em>Rebate under MBS (20-40 minutes)</em></td>
                        <td>$81.15</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;<em>Rebate under MBS (40 minutes or more)</em></td>
                        <td>$135.00</td>
                    </tr>
                    <tr>
                        <td>Supervision (75 minutes)</td>
                        <td>$150</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %} 