/* Custom styles */
#quick-exit {
    top: 6%;
    z-index: 1000;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-custom {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: green;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}